@import '../../scss/abstracts/mixins.scss';


.get-in-touch {
  max-width: 600px;
  margin: 4rem auto 1rem auto;
  padding: 4rem auto 2rem auto;
  border-radius: 1rem;
  text-align: center;

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    color: white;
    white-space: normal;
    margin-bottom: 2rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem;

    .icon {
      color: white;
      transition: color 0.3s;

      &:hover {
        color: #edb04d; // Instagram pinkish tone
      }
    }
  }

  .transform-btn {
    display: inline-block;
    padding: 0.75rem 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #edb04d;
      color: black;
    }
  }
}

.get-in-touch {
  .common__sub::before,
  .common__sub::after {
  content: none !important;
  display: none !important;
  }

  white-space: nowrap;
}

@keyframes twerk {
  0%, 100% {
    transform: translateX(0) rotate(0);
  }
  5% {
    transform: translateX(-3px);
  }
  10% {
    transform: translateX(3px);
  }
  15% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  20%, 100% {
    transform: translateX(0);
  }
}

.transform-btn {
  animation: twerk 3s ease-in-out infinite;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 50px !important;
}
