.marquee-wrapper {
  background: #ffe0ae;
}
.text-slider {
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  padding: 8px 0px;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 7px;
}

//custom CSS
.marquee-text-item {
  font-family: inter;
  height: 90px;
  font-weight: 300;
  color: black;
  text-transform: none;
  letter-spacing: 0px;
  padding: 0px 5px;
}

.rfm-marquee {
  min-width: 0px !important;
}
